<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ping.chen.spring.mybatis.dao.master.JobConfigMapper">
    <select id="selectConfig" resultType="com.ping.chen.spring.model.JobConfig">
    select * from job_config limit 1
  </select>
</mapper>